<div class="col-md-12">
    <div class="slider-pro " id="my-slider">
        <div class="sp-slides">
            {% for adv in  home_adv_list %}
                <div class="sp-slide">
                <a href="{{  url_for("homeRoute.indiv_prod",prod_id=adv.adv_prod_id) }}" target="_blank">
                    <img class="sp-image"
                         src="{{ url_for("static",filename="img/products/{prod_cov}".format(prod_cov=adv.prod_info.cover_img)) }} "/>
                    </a>
                </div>
            {% endfor %}

        </div>
        <div class="sp-thumbnails">

            {% for adv in  home_adv_list %}
                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image"
                             src="{{ url_for("static",filename="img/products/{prod_cov}".format(prod_cov=adv.prod_info.cover_img)) }}"/>
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">{{ adv.prod_info.prod_name }}</div>
                        <div class="sp-thumbnail-description"></div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

</div>

<script>
    $('#my-slider').sliderPro({
        width: 670,
        height: 500,
        orientation: 'vertical',
        loop: false,
        arrows: true,
        buttons: false,
        thumbnailsPosition: 'right',
        thumbnailPointer: true,
        thumbnailWidth: 300,
        breakpoints: {
            800: {
                thumbnailsPosition: 'bottom',
                thumbnailWidth: 270,
                thumbnailHeight: 200
            },
            500: {
                thumbnailsPosition: 'bottom',
                thumbnailWidth: 120,
                thumbnailHeight: 50
            }
        }
    });
</script>