{% extends "base.html" %}
{% block link_ref %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/lightslider.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-slider.min.css") }}">
    {#    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-stars.css") }}">#}
{% endblock %}

{% block jsref %}
    {{ super() }}
    {#    <script src="{{ url_for("static",filename="js/jquery-plus-ui.min.js") }}"></script>#}
    <script src="{{ url_for("static",filename="js/bootstrap-slider.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/lightslider.min.js") }}"></script>
    {#    <script src="{{ url_for("static",filename="js/jquery.barrating.min.js") }}"></script>#}

{% endblock %}

{% block full_page_under_nav %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12 middle-line">{{ this_prod.prod_name }}
                <div class=" right-line"><kbd>Prod ID:{{ this_prod.prod_id }}</kbd></div>
            </div>
            <div class="row"><!-- slider,logo change, description -->
                <div class="col-md-6 ">
                    <div class="row">
                        <div class="panel middle" style="max-width:600px;">
                            <div class="panel-body">
                                <div id="indiv_pics" class="jcImgScroll" style="display:block;overflow: hidden;">
                                    <ul>
                                        {% if this_prod.prod_pics.__len__() % 2 == 0 %}
                                            <li>
                                                <a path="{{ url_for("static",filename=("img/products/"+ this_prod.cover_img)) }}"></a>
                                            </li>
                                        {% endif %}
                                        {% for pic in this_prod.prod_pics %}
                                            <li>
                                                <a path="{{ url_for("static",filename=("img/products/"+ pic.image_path )) }}"></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row invisible" id="switch_logo_button">
                        <div class="col-md-12 " style="max-width:400px;">

                            <div class="alert alert-success">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="switch-offColor" type="checkbox" data-off-color="warning"
                                               data-label-text="Logo">
                                    </div>

                                    <div class="col-md-offset-1 col-md-3">
                                        <div class="btn btn-default panel-primary invisible "
                                             id="control-logo-processed"
                                             onclick="switch_logo('control-logo-processed','control-logo-original')">
                                            <img class="list-user-logo"
                                                 src="{{ url_for("static",filename=("img/user_logos/GEN_{file}".format(file=current_user.logo_link))) }}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="btn btn-default invisible" id="control-logo-original"
                                             onclick="switch_logo('control-logo-original','control-logo-processed')">
                                            <img class="list-user-logo"
                                                 src="{{ url_for("static",filename=("img/user_logos/{file}".format(file=current_user.logo_link))) }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <strong class="indiv-prod-desc-head">Description</strong>
                        <p>{{ this_prod.prod_desc }}</p>
                        <div id="price_detail" class="row well"><!-- price range -->
                            {% if current_user.is_authenticated %}
                                <div class="row">
                                    {% if this_prod.is_special_price_flg %}
                                        <h3> Fixed Price ! <br><strong
                                                class="material-card-big">{{ this_prod.special_price_new }}</strong>
                                            <del>{{ this_prod.special_price_old }}</del>
                                        </h3>
                                    {% else %}
                                        <div class="col-md-5">
                                            <div class="row">
                                                <p class="col-md-12">1. How many do you want? (minimum 100)</p>
                                            </div>
                                            <div class="row" style="padding-top: 30px;">
                                                <div class="col-md-12">
                                                    <input id="ex8" data-slider-id='ex1Slider' type="text"
                                                           data-slider-min="0"
                                                           data-slider-max="20000"
                                                           data-slider-step="1" data-slider-value="14"/></div>
                                                <div class="col-md-6">
                                                    <input id="input_qty" min="1" id="qty-input" class="form-control "
                                                           onchange="qtyChange(this)" onkeyup="qtyChange(this)"
                                                           type="number">
                                                </div>
                                                <div class="col-md-12"><!-- select quantity -->

                                                    <div class="panel-body">
                                                        <div id="price_selection"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-1 col-md-5">
                                            <table class="table table-hover text-right" style="font-size:14px;">
                                                <thead>
                                                <tr>
                                                    <th class="indiv-price-big col-md-8">Unit Price</th>
                                                    <th class="indiv-price-big col-md-5 text-right"><span>$</span><span
                                                            id="unit_price"></span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="">Setup</td>
                                                    <td><span>$</span><span id="setup_price"></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="">Imprinting Prices</td>
                                                    <td><span>$</span><span id="imprinting_prices"></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="">Freight Cost</td>
                                                    <td><span>$</span><span id="freight_cost"></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="indiv-price-big"><strong>Total</strong></td>
                                                    <td class="indiv-price-big"><strong><span>$</span><span
                                                            id="total_price"></span></strong></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <a class="col-md-2 btn btn-primary" role="button"
                                       href="{{ url_for('orderRoute.create_order',prod_id=this_prod.prod_id) }}">
                                        Buy
                                    </a>
                                    <a class="col-md-offset-1 col-md-2 btn btn-success" role="button"
                                       href="{{ url_for('orderRoute.create_quote',prod_id=this_prod.prod_id) }}">
                                        Quote
                                    </a>
                                </div>
                            {% else %}
                                <li class="dropdown"><a class="btn btn-success" role="button" onclick="onRegister()"
                                                        aria-haspopup="true" aria-expanded="false">
                                    Get Price</a>
                                </li>

                            {% endif %}
                        </div>
                        {#                        <strong class="indiv-prod-desc-head">Colours</strong>#}
                        {#                        <p>{{ this_prod.colors }}</p>#}
                        {#                        <strong class="indiv-prod-desc-head">Production Size</strong>#}
                        {#                        <p>{{ this_prod.prod_size }}</p>#}
                        {#                        <strong class="indiv-prod-desc-head">Imprint Size</strong>#}
                        {#                        <p>{{ this_prod.imprint_size }}</p>#}
                        {#                        <strong class="indiv-prod-desc-head">Lead Time</strong>#}
                        {#                        <p>{{ this_prod.lead_time }}</p>#}
                        {#                        <strong class="indiv-prod-desc-head">Price Basis (<a href="#price_detail">#}
                        {#                            <ins>Price Detail</ins>#}
                        {#                        </a>)</strong>#}
                        {#                        <p>{{ this_prod.price_basis }}</p>#}
                        {#                        <strong class="indiv-prod-desc-head">Subcategory</strong>#}
                        {#                        <p>{{ this_prod.prod_sub_cat.prod_cat_sub_name }}</p>#}
                        {#                        <strong class="indiv-prod-desc-head">Other</strong>#}
                        {#                        <p><strong>{{ "[Clearance]  " if this_prod.is_clearance==1 else " " }}#}
                        {#                            &nbsp {{ " [New Prod]  " if this_prod.is_new_prod==1 else "  " }}#}
                        {#                            &nbsp {{ " [Patent Prod] " if this_prod.is_patent_prod==1 else " " }}</strong></p>#}

                    </div>
                </div>
            </div>

            {#            <div id="price_detail" class="row well"><!-- price range -->#}
            {#                {% if current_user.is_authenticated %}#}
            {#                    <div class="row">#}
            {#                        {% if this_prod.is_special_price_flg %}#}
            {#                            <h3> Fixed Price ! <br><strong#}
            {#                                    class="material-card-big">{{ this_prod.special_price_new }}</strong>#}
            {#                                <del>{{ this_prod.special_price_old }}</del>#}
            {#                            </h3>#}
            {#                        {% else %}#}
            {#                            <div class="col-md-7">#}
            {#                                <div class="row">#}
            {#                                    <h4 class="col-md-12">1. How many do you want? (minimum 100)</h4>#}
            {#                                </div>#}
            {#                                <div class="row" style="padding-top: 30px;">#}
            {#                                    <div class="col-md-9">#}
            {#                                        <input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0"#}
            {#                                               data-slider-max="20000"#}
            {#                                               data-slider-step="1" data-slider-value="14"/></div>#}
            {#                                    <div class="col-md-3">#}
            {#                                        <input id="input_qty" min="1" id="qty-input" class="form-control "#}
            {#                                               onchange="qtyChange(this)" onkeyup="qtyChange(this)" type="number">#}
            {#                                    </div>#}
            {#                                    <div class="col-md-12"><!-- select quantity -->#}
            {##}
            {#                                        <div class="panel-body">#}
            {#                                            <div id="price_selection"></div>#}
            {#                                        </div>#}
            {##}
            {#                                    </div>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <div class="col-md-offset-1 col-md-4">#}
            {#                                <table class="table table-hover text-right">#}
            {#                                    <thead>#}
            {#                                    <tr>#}
            {#                                        <th class="indiv-price-big col-md-7 ">Unit Price</th>#}
            {#                                        <th class="indiv-price-big col-md-5 text-right"><span>$</span><span#}
            {#                                                id="unit_price"></span>#}
            {#                                        </th>#}
            {#                                    </tr>#}
            {#                                    </thead>#}
            {#                                    <tbody>#}
            {#                                    <tr>#}
            {#                                        <td class="">Setup</td>#}
            {#                                        <td><span>$</span><span id="setup_price"></span></td>#}
            {#                                    </tr>#}
            {#                                    <tr>#}
            {#                                        <td class="">Imprinting Prices</td>#}
            {#                                        <td><span>$</span><span id="imprinting_prices"></span></td>#}
            {#                                    </tr>#}
            {#                                    <tr>#}
            {#                                        <td class="">Freight Cost</td>#}
            {#                                        <td><span>$</span><span id="freight_cost"></span></td>#}
            {#                                    </tr>#}
            {#                                    <tr>#}
            {#                                        <td class="indiv-price-big"><strong>Total</strong></td>#}
            {#                                        <td class="indiv-price-big"><strong><span>$</span><span#}
            {#                                                id="total_price"></span></strong></td>#}
            {#                                    </tr>#}
            {#                                    </tbody>#}
            {#                                </table>#}
            {#                            </div>#}
            {#                        {% endif %}#}
            {#                    </div>#}
            {#                    <div class="row">#}
            {#                        <a class="col-md-2 btn btn-primary" role="button"#}
            {#                           href="{{ url_for('orderRoute.create_order',prod_id=this_prod.prod_id) }}">#}
            {#                            Buy#}
            {#                        </a>#}
            {#                        <a class="col-md-offset-1 col-md-2 btn btn-success" role="button"#}
            {#                           href="{{ url_for('orderRoute.create_quote',prod_id=this_prod.prod_id) }}">#}
            {#                            Quote#}
            {#                        </a>#}
            {#                    </div>#}
            {#                {% else %}#}
            {#                    <li class="dropdown"><a class="btn btn-success" role="button" onclick="onRegister()"#}
            {#                                            aria-haspopup="true" aria-expanded="false">#}
            {#                        Get Price</a>#}
            {#                    </li>#}
            {##}
            {#                {% endif %}#}
            {#            </div>#}
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Features</div>
                        <div class="panel-body">

                            <dl class="dl-horizontal">
                                <dt>Lead Time</dt>
                                <dd><kbd>{{ this_prod.lead_time }}</kbd></dd>
                                <dt>Prod Size</dt>
                                <dd><kbd>{{ this_prod.prod_size }}</kbd></dd>
                                <dt>Imprint Size</dt>
                                <dd><kbd>{{ this_prod.imprint_size }}</kbd></dd>
                                <dt>Price Basis</dt>
                                <dd><kbd>{{ this_prod.price_basis }}</kbd></dd>
                                <dt>Clearance</dt>
                                <dd><kbd>{{ '√' if this_prod.is_clearance else 'X' }}</kbd></dd>
                                <dt>New Prod</dt>
                                <dd><kbd>{{ '√' if this_prod.is_new_prod else 'X' }}</kbd></dd>
                                <dt>Patent Prod</dt>
                                <dd><kbd>{{ '√' if this_prod.is_patent_prod else 'X' }}</kbd></dd>
                                <dt>Hot Prod</dt>
                                <dd><kbd>{{ '√' if this_prod.is_hot_prod else 'X' }}</kbd></dd>
                                <dt>Colors</dt>
                                <dd><kbd>{{ this_prod.colors }}</kbd></dd>
                                <dt>Prod Dimensions</dt>
                                <dd><kbd>{{ this_prod.prod_dimensions }}</kbd></dd>
                                <dt>Materials</dt>
                                <dd><kbd>{{ this_prod.materials }}</kbd></dd>
                                <dt>Color Sku</dt>
                                <dd><kbd>{{ this_prod.color_sku }}</kbd></dd>

                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Shipping</div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Prod Time</dt>
                                <dd><kbd>{{ this_prod.prod_time if this_prod.prod_time else 'None' }}</kbd></dd>
                                <dt>Rush Time</dt>
                                <dd><kbd>{{ this_prod.rush_time if this_prod.rush_time  else 'None' }}</kbd></dd>
                                <dt>Rush Service</dt>
                                <dd><kbd>{{ this_prod.rush_service if this_prod.rush_service  else 'None' }}</kbd></dd>
                                <dt>Carton Size</dt>
                                <dd><kbd>{{ this_prod.carton_size if this_prod.carton_size  else 'None' }}</kbd></dd>
                                <dt>Carton Weight</dt>
                                <dd><kbd>{{ this_prod.carton_weight  if this_prod.carton_weight  else 'None' }}</kbd>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Decoratione</div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Decoration Method</dt>
                                <dd>
                                    <kbd>{{ this_prod.decoration_method if this_prod.decoration_method else 'None' }}</kbd>
                                </dd>
                                <dt>Location</dt>
                                <dd><kbd>{{ this_prod.location if this_prod.location else 'None' }}</kbd></dd>
                                <dt>Decoration Size</dt>
                                <dd><kbd>{{ this_prod.decoration_size  if this_prod.decoration_size else 'None' }}</kbd>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="{{ url_for("homeRoute.show_feedback",prod_id=this_prod.prod_id) }}">>
                </iframe>
            </div>
            {#        This is for user feedback#}
            {#            <div class="panel panel-default">#}
            {#                <div class="panel-body">#}
            {#                    {% for f in this_prod.prod_compliment_sys %}#}
            {#                        <div class="panel panel-default">#}
            {#                            <div class="panel-heading">{{ f.user.user_name}}</div>#}
            {#                            <div class="panel-body">#}
            {#                                <select id="rating_{{ f.compliment_id }}" name="rating">#}
            {#                                <option value="1">1</option>#}
            {#                                <option value="2">2</option>#}
            {#                                <option value="3">3</option>#}
            {#                                <option value="4">4</option>#}
            {#                                <option value="5">5</option>#}
            {#                            </select>#}
            {#                                <script>#}
            {#                                    $('#rating_{{ f.compliment_id }}').barrating({#}
            {#                                        theme: 'bootstrap-stars',#}
            {#                                        initialRating:{{ f.compliment_rate }},#}
            {#                                        readonly: true#}
            {#                                    });#}
            {#                                </script>#}
            {#                               {{ f.user_compliment_comments }}#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    {% endfor %}#}
            {##}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>

    <script type="text/javascript">
        is_logo_on_pic_created = false;
        //default settings
        big_pic_width = 400;
        big_pic_height = 400;
        logo_width = 80;
        logo_height = 80;
        function change_logo_choice(state) {

            if (!is_logo_on_pic_created) {
                create_log_for_large_pics();
                is_logo_on_pic_created = true;
            }

            var processed = $("#control-logo-processed");
            var original = $("#control-logo-original");
            if (state) {
                processed.removeClass('invisible');
                original.removeClass('invisible');
                if (processed.hasClass('panel-primary')) {
                    $("[name='img-logo-processed']").removeClass('invisible');
                    $("[name='img-logo-original']").addClass('invisible');
                } else {
                    console.log('original');
                    $("[name='img-logo-original']").removeClass('invisible');
                    $("[name='img-logo-processed']").addClass('invisible');
                }
            } else {
                $("[name='img-logo-processed']").addClass('invisible');
                $("[name='img-logo-original']").addClass('invisible');
                processed.addClass('invisible');
                original.addClass('invisible');
            }
        }
        function switch_logo(active, inactive) {
            $("#" + active).removeClass('panel-default');
            $("#" + active).addClass('panel-primary');

            $("#" + inactive).removeClass('panel-primary');
            $("#" + inactive).addClass('panel-default');

            change_logo_choice(true);
        }
        function qtyChange(input) {
            var val = $(input).val();
            slider_block.slider('setValue', parseInt(val));
            refreshPrice();
        }

        function refreshPrice() {
            var val = parseInt(input_qty.val());
            slider_block.slider('setValue', val);
            if (val > price_range[price_range.length - 1].quantity_to) {
                $('#unit_price').text(price_range[price_range.length - 1].unit_price);
                $('#setup_price').text(price_range[price_range.length - 1].setup_cost);
                $('#imprinting_prices').text(price_range[price_range.length - 1].imprinting_prices);
                $('#freight_cost').text(price_range[price_range.length - 1].freight_cost);
                var total = price_range[price_range.length - 1].unit_price * val + price_range[price_range.length - 1].setup_cost + price_range[price_range.length - 1].imprinting_prices + price_range[price_range.length - 1].freight_cost;
                var s = total + "";
                var str = s.substring(0, s.indexOf(".") + 3);
                $('#total_price').text(str);
                return;
            }
            for (i = 0; i < price_range.length; i++) {
                if (val >= price_range[i].quantity_from && val <= price_range[i].quantity_to) {
                    $('#unit_price').text(price_range[i].unit_price);
                    $('#setup_price').text(price_range[i].setup_cost);
                    $('#imprinting_prices').text(price_range[i].imprinting_prices);
                    $('#freight_cost').text(price_range[i].freight_cost);
                    var total = (price_range[i].unit_price * val + price_range[i].setup_cost + price_range[i].imprinting_prices + price_range[i].freight_cost);
                    var s = total + "";
                    var str = s.substring(0, s.indexOf(".") + 3);
                    $('#total_price').text(str);
                    break;
                }
            }
        }
        function init_price_selection(id) {
            var parent = $("#" + id);
            parent.append('<table class="table table-hover table-responsive" style="font-size:80%;"><thead><tr><th>Range</th><th>Unit Price</th><th>Setup</th><th>Imprinting Prices</th><th>Freight Cost</th></tr></thead><tbody></tbody></table>');
            for (i = 0; i < price_range.length; i++) {
                parent.find("tbody").append('<tr group="price_group" onclick="switch_group(\'price_group\',this)"><td ><span name="price_base">' + price_range[i].quantity_from + '</span> - ' + price_range[i].quantity_to + '</td>	<td>' + price_range[i].unit_price + '</td><td>' + price_range[i].setup_cost + '</td><td>' + price_range[i].imprinting_prices + '</td><td>' + price_range[i].freight_cost + '</td></tr>');
            }
            parent.append('</tbody></table>');
        }
        function switch_group(group, active) {
            $("[group='" + group + "']").removeClass('success');
            $(active).addClass('success');
            $("#input_qty").val(parseInt($(active).find("[name=price_base]").text()));
            refreshPrice();
        }

        function onRegister() {
            {#            $("#upload-user-logo-win iframe").attr('src', '{{ url_for('homeRoute.upload_user_logo') }}');#}
            $('#register-win').iziModal('open');
        }

        function create_log_for_large_pics() {
            //insert logo pic on samll prod pictures
            var orig_logo = new Image();
            orig_logo.src = '{{ (url_for("static",filename=("img/user_logos/"+ current_user.logo_link))) }}';
            orig_logo.style = 'width:' + logo_width + 'px;height:' + logo_height + 'px;position:absolute;top:' + (big_pic_height - logo_height) / 2 + 'px; right:' + (big_pic_width - logo_width) / 2 + 'px; border:0px; display:inline';
            orig_logo.classList = "indiv-user-logo invisible";
            orig_logo.name = 'img-logo-original';
            $('#indiv_pics a img:first-of-type').after(orig_logo);

            var processed_logo = new Image();
            processed_logo.src = "{{ url_for("static",filename=("img/user_logos/GEN_{file}".format(file=current_user.logo_link))) }}";
            processed_logo.style = 'width:' + logo_width + 'px;height:' + logo_height + 'px;position:absolute;top:' + (big_pic_height - logo_height) / 2 + 'px; right:' + (big_pic_width - logo_width) / 2 + 'px; border:0px; display:inline';
            processed_logo.classList = "indiv-user-logo invisible"
            processed_logo.name = 'img-logo-processed'
            {#    $('#indiv_pics a img')[0].after(processed_logo);#}
            $('#indiv_pics a img:first-of-type').after(processed_logo);


            //insert logo pic on big prod pictures
            big_pics = $('#indiv_pics a img:last-of-type');
            for (i = 0; i < big_pics.length; i++) {
                var big_orig_logo = new Image();
                big_orig_logo.src = '{{ (url_for("static",filename=("img/user_logos/"+ current_user.logo_link))) }}';
                new_width = big_pics[i].width / big_pic_width * 75;
                new_height = big_pics[i].height / big_pic_height * 75;
                big_orig_logo.style = 'width:' + new_width + 'px;height:' + new_height + 'px;position:absolute;top:' + (big_pic_height - new_height) / 2 + 'px; right:' + (big_pic_width - new_width) / 2 + 'px; border:0px; display:none';
                big_orig_logo.classList = "indiv-user-logo invisible zoomLogo";
                big_orig_logo.name = 'img-logo-original';


                var big_processed_logo = new Image();
                big_processed_logo.src = "{{ url_for("static",filename=("img/user_logos/GEN_{file}".format(file=current_user.logo_link))) }}";
                big_processed_logo.style = 'width:' + new_width + 'px;height:' + new_height + 'px;position:absolute;top:' + (big_pic_height - new_height) / 2 + 'px; right:' + (big_pic_width - new_width) / 2 + 'px; border:0px; display:none';
                big_processed_logo.classList = "indiv-user-logo invisible zoomLogo";
                big_processed_logo.name = 'img-logo-processed';
                big_pics[i].after(big_orig_logo);
                big_pics[i].after(big_processed_logo);
                $(big_pics[i]).mouseenter(function () {
                    $(this).parent().children('.zoomLogo:not(.invisible)').css('display', 'inline');
                    {#                    $(this).parent().children('.zoomLogo:not(.invisible)').css('display','inline');#}
                });
                $(big_pics[i]).mouseleave(function () {
                    $(this).parent().children('.zoomLogo:not(.invisible)').css('display', 'none');
                    {#                    $(this).parent().children('.zoomLogo:not(.invisible)').css('display','inline');#}
                });
            }
        }


        var el = $("#switch-offColor").bootstrapSwitch();
        el.bootstrapSwitch('state', false);
        el.on('switchChange.bootstrapSwitch', function (event, state) {
            change_logo_choice(state);
        });

        var price_range = {{ this_prod.v_price_ranges[0].to_json() }};
        {#        var max = price_range[price_range.length - 1].quantity_to * 2;#}
        {#        if (max <= 0) {#}
        {#            max = 9999999#}
        {#        }#}
        var max = 9999999;
        var min = price_range[0].quantity_from;

        //init quantity min and max attr
        var input_qty = $("#input_qty");
        input_qty.attr('min', min);
        input_qty.attr('max', max);
        input_qty.val(price_range[0].quantity_to);
        //init slider block

        slider_block = $("#ex8").slider({
            tooltip: 'always',
            max: max,
            min: min,
            value: parseInt(price_range[0].quantity_to)
        });
        $("#ex8").on("slide", function (slideEvt) {
            $("#input_qty").val(slideEvt.value);
            refreshPrice();

        });
        $("#ex8").on("slideStop", function (slideEvt) {
            $("#input_qty").val(slideEvt.value);
            refreshPrice();
        });

        var lightslider = $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 500,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });

        refreshPrice();
        init_price_selection('price_selection');


    </script>

{% endblock %}

{% block document_ready %}
    $("#indiv_pics").jcImgScroll({
    arrow: {
    width: 45,
    height: 400,
    x: 60,
    y: 0
    },
    width: big_pic_width+'px', //设置图片宽度
    height: big_pic_height+'px', //设置图片高度
    imgtop: 12,//每张图片的上下偏移量
    imgleft: -10,//每张图片的左边偏移量
    imgwidth: 30,//每张图片的宽度偏移量
    imgheight: 44,//每张图片的高度偏移量
    count: {{ this_prod.prod_pics.__len__() + 1 if this_prod.prod_pics.__len__() % 2 == 0 else this_prod.prod_pics.__len__() }},
    offsetX: 60,
    NumBtn: false,
    title: false,
    setZoom: .8
    });


{% endblock document_ready %}
{% block windows_onload %}
    //begin to zoom
    $("a img").parent().zoom();
    $("#switch_logo_button").removeClass('invisible');
{#    if (!is_logo_on_pic_created) {#}
{#                create_log_for_large_pics();#}
{#                is_logo_on_pic_created = true;#}
{#            }#}
{% endblock windows_onload %}


