{% extends "base.html" %}
{% from "home_temp/_material_card.html" import material_card with context %}
{% set prod_list_page = 1 %}

{% block siderbar %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Supplier List</div>
        <div class="panel-body alert alert-success">
            <p>Suppliers with product(s) like <strong><u>"{{ key_words }}"</u></strong></p>
            <p><strong><u>Click</u></strong> the supplier for its product(s)</p>
        </div>

        <!-- List group -->
        <div class="list-group">
            {% for supplier in supplier_list %}
                <a id="s_list{{ supplier.supplier_id }}"
                   href="{{ url_for('homeRoute.search') }}?q={{ key_words }}&supplier={{ supplier.supplier_id }}"
                   class="list-group-item">{{ supplier.supplier_name }}</a>
            {% endfor %}
            <a id="s_listall" href="{{ url_for('homeRoute.search') }}?q={{ key_words }}"
               class="list-group-item">All Suppliers' Products</a>
            <script>
                {% if active_supplier %}
                    $("#s_list{{ active_supplier }}").addClass("active");
                {% else %}
                    $("#s_listall").addClass("active");
                {% endif %}
            </script>
        </div>
    </div>


{% endblock %}
{% block page %}

    <div class="row">
        {% if prod_list.total >0 %}
            {% for prod in prod_list.items %}
                {{ material_card(prod) }}
            {% endfor %}
        {% else %}
            <h3>No production found.</h3>
        {% endif %}
    </div>
    {{ pagination.links }}
    <div id="update-prod-win" class="iziModal" data-izimodal-title="Update Production">

    </div>

    <div id="show-prod-win" class="iziModal" data-izimodal-title="Production Detail">

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">

        $(function () {

        });
        function onUpdateProd(prod_id) {

            {#            new $.Zebra_Dialog('', {#}
            {#                source: {#}
            {#                    'iframe': {#}
            {#                        'src': '{{ url_for('adminRoute.update_prod') }}' + '?prod_id=' + prod_id,#}
            {#                        'height': 600#}
            {#                    }#}
            {#                },#}
            {#                position: ['center', 'top + 5'],#}
            {#                width: 1200,#}
            {#                title: 'Production Information',#}
            {#                buttons:[],#}
            {#                'onClose': function () {#}
            {#                    location.reload();#}
            {#                }#}
            {#            });#}
        }
        function onShowProd(prod_id) {
            new $.Zebra_Dialog('', {
                source: {
                    'iframe': {
                        'src': '{{ url_for('homeRoute.indiv_prod') }}' + '?prod_id=' + prod_id,
                        'height': 600
                    }
                },
                position: ['center', 'top + 5'],
                width: 1200
            });

        }
        {#        TODO Hiden when is not admimistrator#}
        function ajax_delete_prod_form(name, prod_id) {
            {#            if (confirm("Do you really want to delete [" + name + "] ? ")) {#}
            {#                $.post("{{ url_for('adminRoute.delete_prod') }}", {prod_id: prod_id}, function (result) {#}
            {#                    if (result = 'succ') {#}
            {#                        location.reload();#}
            {#                    }#}
            {#                });#}
            {#            } else {#}
            {#                return false;#}
            {#            }#}
        }
        function change_logo_choice(state) {
            var processed = $("#control-logo-processed");
            var original = $("#control-logo-original");
            if (state) {
                processed.removeClass('invisible');
                original.removeClass('invisible');
                if (processed.hasClass('panel-primary')) {
                    $("[name='img-logo-processed']").removeClass('invisible');
                    $("[name='img-logo-original']").addClass('invisible');
                } else {
                    $("[name='img-logo-original']").removeClass('invisible');
                    $("[name='img-logo-processed']").addClass('invisible');
                }
            } else {
                $("[name='img-logo-processed']").addClass('invisible');
                $("[name='img-logo-original']").addClass('invisible');
                processed.addClass('invisible');
                original.addClass('invisible');
            }
        }
        function switch_logo(active, inactive) {
            $("#" + active).removeClass('panel-default');
            $("#" + active).addClass('panel-primary');

            $("#" + inactive).removeClass('panel-primary');
            $("#" + inactive).addClass('panel-default');

            change_logo_choice(true);
        }
        var el = $("#switch-offColor").bootstrapSwitch();
        el.bootstrapSwitch('state', false);
        el.on('switchChange.bootstrapSwitch', function (event, state) {
            change_logo_choice(state);
        });

    $("#search_words").val('{{ key_words }} {{  }}');

    </script>

{% endblock scripts %}