{% macro material_card(indiv_prod_info) -%}
    <div onclick=''>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="panel panel-primary">
                    <div class="panel-heading one-line">{{ indiv_prod_info.prod_name }}
                        <span class="label label-{{ config.get("VALID_INFO_MAP").get(indiv_prod_info.valid_flg)[1] }}">{{ config.get("VALID_INFO_MAP").get(indiv_prod_info.valid_flg)[0] }}</span>
                        <span class="label label-{{ config.get("APPROVAL_STATUS_MAP").get(indiv_prod_info.approve_stat)[1] }}">{{ config.get("APPROVAL_STATUS_MAP").get(indiv_prod_info.approve_stat)[0] }}</span>
                    </div>
                    <div class="panel-body">
                        <div>

                            <div class="img-responsive material_img_box "
                                 style="background-image: url('{{ (url_for("static",filename=("img/products/"+ indiv_prod_info.cover_img))) }}')"
                            >
                                <img class="list-user-logo invisible" name="img-logo-original"
                                     src="{{ url_for("static",filename=("img/user_logos/{file}".format(file=current_user.logo_link) )) }}">
                                <img class="list-user-logo invisible" name="img-logo-processed"
                                     src="{{ url_for("static",filename=("img/user_logos/GEN_{file}".format(file=current_user.logo_link) )) }}">
                            </div>
                        </div>
                    </div>
                </div>
                <p class="one-line">
                    <strong>From </strong>{{ (indiv_prod_info.v_price_ranges[0].unit_price5 if indiv_prod_info.v_price_ranges[0].unit_price5>0 else (indiv_prod_info.v_price_ranges[0].unit_price4 if indiv_prod_info.v_price_ranges[0].unit_price4>0 else    (indiv_prod_info.v_price_ranges[0].unit_price3 if indiv_prod_info.v_price_ranges[0].unit_price3>0 else (indiv_prod_info.v_price_ranges[0].unit_price2 if indiv_prod_info.v_price_ranges[0].unit_price2>0 else       (indiv_prod_info.v_price_ranges[0].unit_price1 if indiv_prod_info.v_price_ranges[0].unit_price1>0 else ''))))) if indiv_prod_info.v_price_ranges.__len__()>0 else '' }}    <strong> {{ "  - New Prod" if indiv_prod_info.is_new_prod==1 else ""  }}</strong>
                    {% if indiv_prod_info.approve_stat == -1 %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">Reject Reason</div>
                            <div class="panel-body">
                                {{ indiv_prod_info.reject_reason }}
                            </div>
                        </div>
                    {% endif %}

                </p>
                {#                {% if current_user.is_administrator %}#}
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-success" role="button"
                       href="{{ url_for('homeRoute.indiv_prod',prod_id=indiv_prod_info.prod_id) }}" target="_blank">
                        Detail
                    </a>
                    {% if indiv_prod_info.approve_stat != 0 %}
                        <a class="btn btn-primary " role="button"
                           onclick="onUpdateProd({{ indiv_prod_info.prod_id }})"
                        >Update Info
                        </a>
                        <a href="#" class="btn btn-danger " role="button"
                           onclick='ajax_delete_prod_form("{{ indiv_prod_info.prod_name }}",{{ indiv_prod_info.prod_id }})'>
                            Delete
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endmacro %}