{% macro order_card(order) -%}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title font-size-14">{{ order.order_create_dt.date() }} | Sys OrderID:{{ order.order_id }} |
                Client
                OrderID:{{ order.client_order_id }} (User:{{ order.user.email }} |
                Supplier:{{ order.supplier.supplier_name }})</h3>
        </div>
        <div class="panel-body padding-5">
            <div class="media col-md-3">
                <a class="media-left">
                    <img class="img-50"
                         src="{{ url_for("static",filename=("img/products/"+ order.prod_info.cover_img)) }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ order.prod_name }}</h4>
                    <p></p>
                </div>
            </div>
            {#            <div class="col-md-2"><p>{{ order.prod_name }}</p></div>#}
            <div class="col-md-2"><strong>Quantity:<p><p><span
                    class="label label-info">{{ order.prod_quantity }}</span></strong></div>
            <div class="col-md-2"><strong>Total Price:<p><p><span class="label label-info">${{ order.total_price }}</span></strong>
            </div>
            <div class="col-md-3"><strong>Order Status:<p><p><span
                    class="label label-info">{{ config.get('ORDER_STATUS_MAP')[order.order_stat] }}</span></strong>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="onShowOrder('{{ order.client_order_id }}')">
                    Detail
                </button>
                {% if (order.order_stat==1 or current_user.is_administrator) and order.order_stat<5 %}
                    <a href="{{ url_for("orderRoute.user_cancel",client_order_id=order.client_order_id) }}"
                       class="btn btn-default ">Cancel</a>
                {% endif %}
                {% if order.order_stat==3 %}
                    {#                    <a href="{{ url_for("orderRoute.user_feedback",client_order_id=order.client_order_id) }}"#}
                    {#                       class="btn btn-default ">Feedback</a>#}
                    <button onclick="feedback('{{ order.client_order_id }}')" role="button" class="btn btn-default">Feedback</button>

                {% endif %}
                </div>

            </div>
        </div>
{% endmacro %}