{% extends "non_nav_base.html" %}
{% from "_input_helper.html" import input_helper,date_input_helper,bool_input_helper,readonly_input_helper %}
{% block link_ref %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/lightslider.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-slider.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-stars.css") }}">
{% endblock %}

{% block jsref %}
    {{ super() }}
    {#    <script src="{{ url_for("static",filename="js/jquery-plus-ui.min.js") }}"></script>#}
    <script src="{{ url_for("static",filename="js/bootstrap-slider.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/lightslider.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/jquery.barrating.min.js") }}"></script>

{% endblock %}
{% block page %}
        <form action="{{ url_for("orderRoute.quote_to_order") }}" method="post">
        {{ quote_to_order_form.hidden_tag() }}
        <div class="invisible">{{ quote_to_order_form.quote_id(value=this_quote.quote_id) }}</div>

    <div class="panel panel-default">
        <div class="panel-body">
            {#            <div class="col-md-12 middle-line">#}
            <h5 class="middle-line">Order Form</h5>
            {#            </div>#}
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ (url_for("static",filename=("img/products/"+ this_quote.prod_info.cover_img))) }}"
                         class="img-responsive ">

                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Basic Information</strong></div>
                        <div class="panel-body padding-5">
                            <table class="table table-hover text-right font-size-14">
                                {#                        <thead>#}
                                {#                        <tr>#}
                                {#                            <th class="indiv-price-big col-md-7 ">Basic</th>#}
                                {#                            <th class="indiv-price-big col-md-5">#}
                                {#                                Information#}
                                {#                            </th>#}
                                {#                        </tr>#}
                                {#                        </thead>#}
                                <tbody>
                                <tr>
                                    <td>User Name</td>
                                    <td>{{ this_quote.user.user_name }}</td>
                                </tr>
                                <tr>
                                    <td>Supplier Name</td>
                                    <td>{{ this_quote.supplier.supplier_name }}</td>
                                </tr>
                                <tr>
                                    <td>Prod Name</td>
                                    <td>{{ this_quote.prod_name }}</td>
                                </tr>
                                <tr>
                                    <td class="">Colors</td>
                                    <td>{{ this_quote.colors }}</td>
                                </tr>
                                <tr>
                                    <td>Lead Time</td>
                                    <td>{{ this_quote.lead_time }}</td>
                                </tr>
                                <tr>
                                    <td>Prod Size</td>
                                    <td>{{ this_quote.prod_size }}</td>
                                </tr>
                                <tr>
                                    <td>Special Instruction</td>
                                    <td>{{ this_quote.special_instruction }}</td>
                                </tr>
                                <tr>
                                    <td>Imprint Information</td>
                                    <td>{{ this_quote.imprint_info }}</td>
                                </tr>
                                <tr>
                                    <td>From Quote Id</td>
                                    <td>{{ this_quote.quote_id }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Price Information</strong></div>
                        <div class="panel-body padding-5">
                            <table class="table table-hover text-right font-size-14">
                                <tbody>
                                <tr>
                                    <td class="">Unit Price</td>
                                    <td><span>$</span><span id="unit_price">{{ this_quote.supplier_perfer_unit_price }}</span></td>
                                </tr>
                                <tr>
                                    <td class="">Setup</td>
                                    <td><span>$</span><span id="setup_price">{{ this_quote.supplier_perfer_setup_cost }}</span></td>
                                </tr>
                                <tr>
                                    <td class="">Imprinting Prices</td>
                                    <td><span>$</span><span
                                            id="imprinting_prices">{{ this_quote.supplier_perfer_imprinting_prices }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">Freight Cost</td>
                                    <td><span>$</span><span id="freight_cost">{{ this_quote.supplier_perfer_freight_cost }}</span></td>
                                </tr>
                                <tr>
                                    <td class="">Quantity</td>
                                    <td><span id="freight_cost">{{ this_quote.prod_quantity }}</span></td>
                                </tr>

                                <tr>
                                    <td class="indiv-price-big"><strong>User need pay Total</strong></td>
                                    <td class="indiv-price-big"><strong><span>$</span><span
                                            id="need_pay_supplier">{{ this_quote.supplier_perfer_total }}</span></strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-md-6">
                <div class="panel panel-default ">
                    <div class="panel-heading">User Comments</div>
                    <div class="panel-body">
                        {{ quote_to_order_form.user_comments(class='form-control') }}
                    </div>
                </div>
            </div>

                <div class="middle">
                    <button type="submit" class="btn btn-primary">Submit Order</button>
                </div>
        </div>
    </div>
    </form>
    <script>
        slider_block = $("#ex8").slider({
            tooltip: 'always',
            max: {{ this_quote.prod_quantity *2 }},
            min: 0,
            value: {{ this_quote.prod_quantity }}
        });
    </script>
{% endblock page %}