{% extends "non_nav_base.html" %}
{% block link_ref %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/lightslider.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-slider.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-stars.css") }}">
{% endblock %}

{% block jsref %}
    {{ super() }}
    {#    <script src="{{ url_for("static",filename="js/jquery-plus-ui.min.js") }}"></script>#}
    <script src="{{ url_for("static",filename="js/bootstrap-slider.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/lightslider.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/jquery.barrating.min.js") }}"></script>

{% endblock %}
{% block page %}
    <div class="panel panel-default">
        <div class="panel-body">
            {#            <div class="col-md-12 middle-line">#}
            <h5 class="middle-line">Quote Form</h5>
            {#            </div>#}
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ (url_for("static",filename=("img/products/"+ this_quote.prod_info.cover_img))) }}"
                         class="img-responsive ">

                </div>
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Basic Information</strong></div>
                        <div class="panel-body padding-5">
                            <table class="table table-hover text-right font-size-14">
                                {#                        <thead>#}
                                {#                        <tr>#}
                                {#                            <th class="indiv-price-big col-md-7 ">Basic</th>#}
                                {#                            <th class="indiv-price-big col-md-5">#}
                                {#                                Information#}
                                {#                            </th>#}
                                {#                        </tr>#}
                                {#                        </thead>#}
                                <tbody>
                                <tr>
                                    <td>User Name</td>
                                    <td>{{ this_quote.user.user_name }}</td>
                                </tr>
                                <tr>
                                    <td>Supplier Name</td>
                                    <td>{{ this_quote.supplier.supplier_name }}</td>
                                </tr>
                                <tr>
                                    <td>Prod Name</td>
                                    <td>{{ this_quote.prod_name }}</td>
                                </tr>
                                <tr>
                                    <td class="">Colors</td>
                                    <td>{{ this_quote.colors }}</td>
                                </tr>
                                <tr>
                                    <td>Prod Size</td>
                                    <td>{{ this_quote.prod_size }}</td>
                                </tr>
                                <tr>
                                    <td>Lead Time</td>
                                    <td>{{ this_quote.lead_time }}</td>
                                </tr>
                                <tr>
                                    <td>Imprint Information</td>
                                    <td>{{ this_quote.imprint_info }}</td>
                                </tr>
                                <tr>
                                    <td>Special Instruction</td>
                                    <td><span id="freight_cost">{{ this_quote.special_instruction }}</span></td>
                                </tr>
                                <tr>
                                    <td>Quantity</td>
                                    <td><span id="Quantity">{{ this_quote.prod_quantity }}</span></td>
                                </tr>
                                <tr>
                                    <td>User Perfer Comments:</td>
                                    <td><span id="freight_cost">{{ this_quote.user_perfer_comment }}</span></td>
                                </tr>
                                <tr>
                                    <td>Supplier Perfer Comments:</td>
                                    <td><span id="freight_cost">{{ this_quote.supplier_perfer_comment }}</span></td>
                                </tr>
                                <tr>
                                    <td>Quote Create Date</td>
                                    <td><span id="freight_cost">{{ this_quote.user_last_quote_time }}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>User perfer Information</strong></div>
                        <div class="panel-body padding-5">
                            <table class="table table-hover text-right font-size-14">
                                <tbody>
                                <tr>
                                    <td class="">Unit Price</td>
                                    <td><span>$</span><span id="unit_price">{{ this_quote.user_perfer_unit_price }}</span></td>
                                </tr>
                                <tr>
                                    <td class="">Setup</td>
                                    <td><span>$</span><span id="setup_price">{{ this_quote.user_perfer_setup_cost }}</span></td>
                                </tr>
                                <tr>
                                    <td class="">Imprinting Prices</td>
                                    <td><span>$</span><span
                                            id="imprinting_prices">{{ this_quote.user_perfer_imprinting_prices }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">Freight Cost</td>
                                    <td><span>$</span><span id="freight_cost">{{ this_quote.user_perfer_freight_cost }}</span></td>
                                </tr>
                                <tr>
                                    <td class="indiv-price-big"><strong>User Perfer Total</strong></td>
                                    <td class="indiv-price-big"><strong><span>$</span><span
                                            id="total_price">{{ this_quote.user_perfer_total }}</span></strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>

                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Supplier Perfer Information</strong></div>
                        <div class="panel-body padding-5">
                            <table class="table table-hover text-right font-size-14">
                                <tbody>
                                <tr>
                                    <td class="">Unit Price</td>
                                    <td><span>$</span><span id="unit_price">{{ this_quote.supplier_perfer_unit_price }}</span></td>
                                </tr>
                                <tr>
                                    <td class="">Setup</td>
                                    <td><span>$</span><span id="setup_price">{{ this_quote.supplier_perfer_setup_cost }}</span></td>
                                </tr>
                                <tr>
                                    <td class="">Imprinting Prices</td>
                                    <td><span>$</span><span
                                            id="imprinting_prices">{{ this_quote.supplier_perfer_imprinting_prices }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">Freight Cost</td>
                                    <td><span>$</span><span id="freight_cost">{{ this_quote.supplier_perfer_freight_cost }}</span></td>
                                </tr>
                                <tr>
                                    <td class="indiv-price-big"><strong>Supplier Perfer Total</strong></td>
                                    <td class="indiv-price-big"><strong><span>$</span><span
                                            id="total_price">{{ this_quote.supplier_perfer_total }}</span></strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>

            </div>
            <div class="middle">
                <h4><strong>Quote Status:</strong></h4>
                <nav>
                    <ul class="pager">
                        {#                        <li class="previous"><a href="#">&larr; Older</a></li>#}

                                <li><a href="#" id="status_0">User Submitted &rarr;</a></li>
                                <li><a href="#" id="status_1">Supplier Replied </a></li>

                        <script>
                            $("#status_{{ this_quote.is_return_flg }}").addClass("active btn-primary");
                        </script>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

    <script>
        slider_block = $("#ex8").slider({
            tooltip: 'always',
            max: {{ this_quote.prod_quantity *2 }},
            min: 0,
            value: {{ this_quote.prod_quantity }}
        });
    </script>
{% endblock page %}