{% extends "user_temp/order_base.html" %}
{% from "order_temp/_order_card.html" import order_card %}
{% block orderlist %}

    <div class="list-group">

        {% if order_list.total >0 %}
{#            {{ pagination.info }}#}
            {% for order in order_list.items %}
                {{ order_card(order) }}
            {% endfor %}
            {{ pagination.links }}
        {% else %}
            <h3>You do not have any orders</h3>
        {% endif %}
    </div>
<script>
function onShowOrder(client_order_id) {
            new $.Zebra_Dialog('', {
                source: {
                    'iframe': {
                        'src': '{{ url_for('orderRoute.show_one_order') }}' + '?client_order_id=' + client_order_id,
                        'height':600
                    }
                },
                position: ['center', 'top + 5'],
                width: 1200
            });
        }
    function onUpdateOrder(client_order_id) {
            new $.Zebra_Dialog('', {
                source: {
                    'iframe': {
                        'src': '{{ url_for('orderRoute.receive_order') }}' + '?client_order_id=' + client_order_id,
                        'height': 600
                    }
                },
                 'onClose': function () {
                    location.reload();
                },
                position: ['center', 'top + 5'],
                width: 1200
            });
        }


</script>
{% endblock %}
