{% extends "user_temp/quote_base.html" %}
{% from "order_temp/_quote_card.html" import quote_card %}
{% set active_page = 4 %}

{% block quotelist %}

    <div class="list-group">

        {% if quote_list.total >0 %}
            {{ pagination.info }}
            {% for quote in quote_list.items %}
                {{ material_card(quote,supp_update_quote_form) }}
            {% endfor %}
            {{ pagination.links }}
        {% else %}
            <h3>You do not have any quotes</h3>
        {% endif %}
    </div>
    <script>
            $(function () {
            {#			  $("#slider").easySlider({});#}
            $("#supp-update-win").iziModal({
                overlayClose: false,
                width: 600,
                autoOpen: false,
                overlayColor: 'rgba(0, 0, 0, 0.6)',
                onOpened: function () {
                    console.log('onOpened');
                },
                onClosed: function () {
                    console.log('onClosed');
                }
            });
            $(document).on('click', '.trigger-supp-update-win', function (event) {
                event.preventDefault();
                $('#supp-update-win').iziModal('open');
            });
        });
        function onShowQuote(quote_id) {
            new $.Zebra_Dialog('', {
                source: {
                    'iframe': {
                        'src': '{{ url_for('orderRoute.show_one_quote') }}' + '?quote_id=' + quote_id,
                        'height': 600
                    }
                },
                position: ['center', 'top + 5'],
                width: 1200
            });
        }
    function onUpdateQuote(quote_id) {
            new $.Zebra_Dialog('', {
                source: {
                    'iframe': {
                        'src': '{{ url_for('orderRoute.supp_update_quote') }}' + '?quote_id=' + quote_id,
                        'height': 600
                    }
                },
                position: ['center', 'top + 5'],
                width: 1200
            });
        }
    </script>
{% endblock %}
