{% extends "admin_temp/advertisement_base.html" %}

{% set ad_active = type %}

{% block ad_list %}
    <div class="list-group">

        {% if ad_list.total >0 %}
            {#            {{ pagination.info }}#}

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title font-size-14">Advertisement List</h3>
                </div>
                <div class="panel-body padding-5">
                    <table class="table">
                        <thead>
                        <th>Submitted Date</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                        {% for ad in ad_list.items %}
                            <tr>
                                <td>{{ ad.submit_date }}</td>
                                <td>{{ ad.title }}</td>
                                <td><span class="label label-{{ config.get("AD_STATUS_MAP").get(ad.approval_status)[1] }}">{{ config.get("AD_STATUS_MAP").get(ad.approval_status)[0] }}</span> </td>
                                <td>
                                    {% if ad.approval_status == 1 %}
                                         <button class="btn btn-primary" onclick="ajax_approve_ad({{ ad.email_advertisement_id }})">Approve</button>
                                        <button class="btn btn-danger" onclick="ajax_reject_ad({{ ad.email_advertisement_id }})">Reject</button>
                                    {% endif %}
                                    {% if ad.approval_status == 2 %}
                                         <button class="btn btn-primary" onclick="ajax_send_ad({{ ad.email_advertisement_id }})">Send Out</button>
                                    {% endif %}
                                    <a data-toggle="modal" class="btn btn-info" href="#modal_{{ ad.email_advertisement_id }}">Detail</a>

                                    <div class="modal fade" id="modal_{{ ad.email_advertisement_id }}" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="modal_label_{{ ad.email_advertisement_id }}"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title"
                                                        id="modal_label_{{ ad.email_advertisement_id }}">
                                                      <strong>Title :</strong>  {{ ad.title }}
                                                        <br><br><strong>Content :</strong>
                                                    </h4>
                                                </div>
                                                <div class="modal-body form-group">
                                                   {{ ad.ad_content|safe }}
                                                </div>
                                                <div class="modal-footer" id="modal_footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {#                    <div class="invisible">{{ ad.ad_content|safe }}</div>#}
                    {#                    <button class="btn btn-info">Detail</button>#}
                    {#                    <button class="btn btn-danger">Cancel</button>#}
                </div>
            </div>
            {{ pagination.links }}
        {% else %}
            <h3>You do not have any advertisements</h3>
        {% endif %}
    </div>
    <script>
       function ajax_approve_ad(ad_id) {
            if (confirm("Do you really want to approve the advertisement ? ")) {
                $.post("{{ url_for('adminRoute.approve_ad') }}", {ad_id: ad_id}, function (result) {
                    if (result = 'succ') {
                        location.reload();
                    }
                });
            } else {
                alert(result);
                return false;
            }
        }
       function ajax_send_ad(ad_id) {
            if (confirm("Do you really want to send this advertisement ? ")) {
                $.post("{{ url_for('adminRoute.send_ad') }}", {ad_id: ad_id}, function (result) {
                    if (result = 'succ') {
                        location.reload();
                    }
                });
            } else {
                alert(result);
                return false;
            }
        }
    function ajax_reject_ad(ad_id) {
            if (confirm("Do you really want to reject the advertisement ? ")) {
                $.post("{{ url_for('adminRoute.reject_ad') }}", {ad_id: ad_id}, function (result) {
                    if (result = 'succ') {
                        location.reload();
                    }
                });
            } else {
                return false;
            }
        }
    </script>
{% endblock %}
