{% extends "headers.html" %}

{% block mainpage %}
    <div class="bs-docs-header" tabindex="-1">
        <div class="jumbotron no-padding-top no-padding-bottom">
            <div class="container">
                <h1>{{ config.get('APP_NAME','Reprot.py') }} Admin Console</h1>
                <p>Admin Console for Logo Show !</p>
                <!--    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
            </div>
        </div>
    </div>

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        <ul class='list-unstyled'>
                            <li>{{ message }}</li>
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {#        {% include('sidebar.html') %}#}
        <div class="col-md-3">

            <ul class="nav nav-pills nav-stacked" role="tablist">

                <li class="btn btn-warning">
                    <a href="{{ url_for('homeRoute.index') }}" target="_blank"><strong>Open Home Page</strong></a></li>
                <li {% if 2 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.account_management') }}">User Account Management</a></li>
                <li {% if 4 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.supplier_management') }}">Supplier Account Management</a>
                <li {% if 3 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.prod_cate_mgt') }}">Product Category Management</a></li>
                </li>
                <li {% if active_page == "pending_approval_prod"  %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.pending_approval_list') }}">Product Pending List<span class="float-right badge">{{ current_user.get_approval_pending_count(current_user.user_id) }}</span></a>
                </li>
                <li {% if "all_orders" == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.all_orders',type='ongoing') }}">All Orders</a>
                </li>
                <li {% if "all_quotes" == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.all_quotes',type='ongoing') }}">All Quotes</a>
                </li>
                <li {% if 6 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.manage_profit_rate') }}">Manage Profit Rate</a>
                </li>
                <li {% if 7 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.manage_supplier_rebate_rate') }}">Manage Supplier Rebate Rate</a>
                </li>
                <li {% if 8 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.manage_config') }}">Manage Configure Parameter</a>
                </li>
                <li>
                    <a href="{{ url_for('adminRoute.logout') }}">Logout</a></li>
            </ul>

        </div>
        <div class="col-md-9">
            <div class="row">
                {% block page %}{% endblock %}
            </div>

        </div>

    </div>
    {% block footer %}
        {% include("footer.html") %}
    {% endblock footer %}
    </div>
{% endblock mainpage %}

{% block scripts %}
    <script src="{{ url_for("static",filename="js/sidebar-menu.js") }}"></script>
    <script>
        {% block script_code %}{% endblock %}
    </script>
{% endblock scripts %}


