{% extends "bootstrap/base.html" %}

{% block head %}
    <title>{% block title %}{{ config.get('APP_NAME','An Empty System') }}{% endblock %}</title>
    <link rel="stylesheet" href=" {{ url_for("static",filename="css/bootstrap.min.css") }}">
    {% block favicon %}
        <link rel="icon" href="{{ url_for("static",filename="icon/favicon.ico") }}">
    {% endblock %}
    {% block link_ref %}

        {#        <link rel="stylesheet" href="{{ url_for("static",filename="css/sidebar-menu.css") }}"> <!-- Resource style -->#}
        <link rel="stylesheet" href="{{ url_for("static",filename="css/font-awesome.min.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="css/iziModal.min.css") }}">
    {% endblock %}
    <link rel="stylesheet" href=" {{ url_for("static",filename="css/mystyle.css") }}">

    <script src="{{ url_for("static",filename="js/jquery-2.4.4.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/iziModal.min.js") }}"></script>


{% endblock head %}

{% block content %}
    <div class="bs-docs-header" tabindex="-1">
        <div class="jumbotron no-padding-top no-padding-bottom">
            <div class="container">
                <h1>{{ config.get('APP_NAME','Reprot.py') }} Admin Console</h1>
                <p>Admin Console for Logo Show !</p>
                <!--    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
            </div>
        </div>
    </div>

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        <ul class='list-unstyled'>
                            <li>{{ message }}</li>
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {#        {% include('sidebar.html') %}#}
        <div class="col-md-3">

            <ul class="nav nav-pills nav-stacked" role="tablist">

                <li class="btn btn-warning">
                    <a  href="{{ url_for('homeRoute.index') }}" target="_blank"><strong>Open Home Page</strong></a></li>
                <li {% if 1 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.index') }}">Dashboard</a></li>
                <li {% if 2 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.account_management') }}">Account Management</a></li>
                <li {% if 3 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.prod_cate_mgt') }}">Product Categroy Management</a></li>
                <li {% if 4 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.publish_prod') }}">Publish Product</a>
                </li>
                <li {% if 5 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.spec_links') }}">Specialist Links</a>
                </li>
                <li {% if 6 == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for('adminRoute.manage_profit_rate') }}">Manage Profit Rate</a>
                </li>
            </ul>

        </div>
        <div class="col-md-9">
            <div class="row">
                {#                <nav class="navbar navbar-default" role="navigation">#}
                {#                    <!-- Brand and toggle get grouped for better mobile display -->#}
                {#                    <div class="navbar-header">#}
                {#                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
                {#                                data-target="#bs-example-navbar-collapse-1">#}
                {#                            <span class="sr-only">Toggle navigation</span>#}
                {#                            <span class="icon-bar"></span>#}
                {#                            <span class="icon-bar"></span>#}
                {#                            <span class="icon-bar"></span>#}
                {#                        </button>#}
                {#                        <a class="navbar-brand" href="{{ url_for('homeRoute.index') }}">Home</a>#}
                {#                    </div>#}
                {##}
                {#                    <!-- Collect the nav links, forms, and other content for toggling -->#}
                {#                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                {#                        <ul class="nav navbar-nav">#}
                {#                            <li {% if 'L2' == active_page %} class="active"{% endif %}><a href="#">Free Artwork</a></li>#}
                {#                            <li {% if 'L3' == active_page %} class="active"{% endif %}><a#}
                {#                                    href="{{ url_for('homeRoute.Free_Shipping') }}">Free Shipping</a></li>#}
                {#                            <li {% if 'L4' == active_page %} class="active"{% endif %}><a href="#">Free Catalogues</a>#}
                {#                            </li>#}
                {#                            <li {% if 'L5' == active_page %} class="active"{% endif %}><a href="#">User Feedback</a>#}
                {#                            </li>#}
                {#                            <li {% if 'L5' == active_page %} class="active"{% endif %}><a href="#">Upload Your Logo</a>#}
                {#                            </li>#}
                {#            <li class="dropdown">#}
                {#              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>#}
                {#              <ul class="dropdown-menu" role="menu">#}
                {#                <li><a href="#">Action</a></li>#}
                {#                <li><a href="#">Another action</a></li>#}
                {#                <li><a href="#">Something else here</a></li>#}
                {#                <li class="divider"></li>#}
                {#                <li><a href="#">Separated link</a></li>#}
                {#                <li class="divider"></li>#}
                {#                <li><a href="#">One more separated link</a></li>#}
                {#              </ul>#}
                {#            </li>#}
                {#                        </ul>#}
                {#                        <form class="navbar-form navbar-left" role="search">#}
                {#                            <div class="form-group">#}
                {#                                <input type="text" class="form-control" placeholder="Search">#}
                {#                            </div>#}
                {#                            <button type="submit" class="btn btn-default">Submit</button>#}
                {#                        </form>#}
                {#                        <ul class="nav navbar-nav navbar-right">#}
                {#                            <li><a href="#">Link</a></li>#}
                {#                            {% if current_user.is_authenticated %}#}
                {#                                <li class="dropdown">#}
                {#                                    <a href="#" class="dropdown-toggle"#}
                {#                                       data-toggle="dropdown">Hello {{ current_user.user_name }} ! <span#}
                {#                                            class="caret"></span></a>#}
                {#                                    <ul class="dropdown-menu" role="menu">#}
                {#                                        <li><a href="#">Actions...</a></li>#}
                {#                                        <li><a href="#">Another action</a></li>#}
                {#                                        <li><a href="#">Something else here</a></li>#}
                {#                                        <li class="divider"></li>#}
                {#                                        <li><a href="{{ url_for("userRoute.logout") }}">Logout</a></li>#}
                {#                                    </ul>#}
                {#                                </li>#}
                {#                            {% else %}#}
                {#                                <li class="dropdown"><a href="{{ url_for('userRoute.login') }}" role="button"#}
                {#                                                        aria-haspopup="true" aria-expanded="false">#}
                {#                                    Login</a>#}
                {#                                </li>#}
                {#                            {% endif %}#}
                {#                        </ul>#}
                {#                    </div><!-- /.navbar-collapse -->#}
                {#                </nav>#}
            </div>
            {% block page %}{% endblock %}
        </div>

    </div>
    {% block footer %}
        {% include("footer.html") %}
    {% endblock footer %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for("static",filename="js/sidebar-menu.js") }}"></script>
    <script>
        $.sidebarMenu($('.sidebar-menu'));

        {% block script_code %}{% endblock %}
    </script>
{% endblock scripts %}


