{% extends "admin_temp/admin_base.html" %}
{#{% from "order_temp/_order_card.html" import order_card %}#}
{% set active_page = 9 %}

{% block page %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if ad_active =='pending' %} class="active"{% endif %}><a
                href="{{ url_for("adminRoute.ad_list",type='pending') }}">Pending List</a></li>
        <li role="presentation" {% if ad_active =='approved' %} class="active"{% endif %}><a
                href="{{ url_for('adminRoute.ad_list',type='approved') }}">Approved List</a></li>
        <li role="presentation" {% if ad_active == 'sent' %} class="active"{% endif %}><a
                href="{{ url_for('adminRoute.ad_list',type='sent') }}">Sent List</a></li>
        <li role="presentation" {% if ad_active =='rejected' %} class="active"{% endif %}><a
                href="{{ url_for('adminRoute.ad_list',type='rejected') }}">Rejected List</a></li>


    </ul>
{#    <block class="">#}
        {% block ad_list %}
        {% endblock %}
{#    </block>#}
{% endblock %}

