{% extends "admin_temp/admin_base.html" %}
{#{% from "order_temp/_order_card.html" import order_card %}#}
{% set active_page = 9 %}

{% block page %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if ad_active == 1 %} class="active"{% endif %}><a
                href="{{ url_for("adminRoute.ad_list") }}">Pending List</a></li>
        <li role="presentation" {% if ad_active == 2 %} class="active"{% endif %}><a
                href="{{ url_for('adminRoute.ad_list') }}">Approved List</a></li>
        <li role="presentation" {% if ad_active == 3 %} class="active"{% endif %}><a
                href="{{ url_for('adminRoute.ad_list') }}">Sent List</a></li>
        <li role="presentation" {% if ad_active == -1 %} class="active"{% endif %}><a
                href="{{ url_for('adminRoute.ad_list') }}">Rejected List</a></li>


    </ul>
    <block class="">
        {% block ad_list %}
        {% endblock %}
    </block>
{% endblock %}

