{% extends "admin_temp/admin_base.html" %}
{#{% from "order_temp/_order_card.html" import order_card %}#}
{% set active_page = 'pending_approval_prod' %}

{% block page %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if publish_active == 'pending' %} class="active"{% endif %}><a
                href="{{ url_for("adminRoute.pending_approval_list",type='pending') }}">Pending Approval</a></li>
        <li role="presentation" {% if publish_active == 'rejected' %} class="active"{% endif %}><a
                href="{{ url_for("adminRoute.pending_approval_list",type='rejected') }}">Reject Approval</a></li>
        <li role="presentation" {% if publish_active == 'approved' %} class="active"{% endif %}><a
                href="{{ url_for("adminRoute.pending_approval_list",type='approved') }}">Approved Approval</a></li>
        <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input id="search_words" type="text" class="form-control" placeholder="Search" value="{{ key_words }}">
            </div>
            <button class="btn btn-default" onclick="search()">Search</button>
        </div>
    </ul>
    <block class="">
        {% block prod_list %}
        {% endblock %}
    </block>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    function search() {
            var search_words = $("#search_words").val();
            location.href = "{{ url_for("adminRoute.approval_prod_search") }}?q=" + search_words;
        }
    </script>
{% endblock scripts %}