{% extends "admin_temp/admin_base.html" %}
{% from "_input_helper.html" import input_helper %}
{% set active_page = 4 %}
{% block title %}Admin Console - {{ config.get('APP_NAME','An Empty System') }} {% endblock title %}
{% block link_ref %}
    {{ super() }}

{% endblock %}


{% block page %}
    <h2>Production Management</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="btn-group">
                <a  href="{{ url_for('adminRoute.add_new_prod') }}"  class="btn btn-primary"
                     >Add New Production
                </a>
            </div>
            <div class="btn-group">
                <a type="button" class="btn btn-primary "
                   href="{{ url_for('homeRoute.sub_category_list',sub_cat_id=0) }}" target="_blank">Update/Delete
                    Production
                </a>
            </div>
        </div>
    </div>


    <br>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for("static",filename="js/easySlider.js") }}"></script>
    <script type="text/javascript">

    </script>
{% endblock scripts %}