{% macro render_field(field) %}
    <div class=" form-group {% if field.errors %}has-error {% else %} has-success {% endif %}">

        {{ field.label(class='col-sm-4 control-label') }}
        <div class="col-sm-7">
            {{ field(**kwargs)|safe }}

            {% if field.errors %}
                <ul class='list-group'>
                    {% for error in field.errors %}
                        <li class="list-group-item list-group-item-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endmacro %}
