{% macro input_helper(group_class,label,input,input_class="form-control",label_class='',default_value='') -%}

    <div class="{{ group_class }}">
{#            <div class="panel panel-default">#}
{#                <div class="panel-heading">{{ label(class=label_class) }}</div>#}
{#                <div class="panel-body">#}
{#                    {{ input(class=input_class,value=default_value) }}#}
{#                </div>#}
{#            </div>#}
        <br>
        <div class="input-group">

            <span class="input-group-addon">{{ input.label }}</span>
            {{ input(class=input_class,value=default_value) }}

        </div>
    </div>

{% endmacro %}