{% macro input_helper(group_class,input,input_class="form-control",label_class='labels',default_value='') -%}

    {#    <div class="{{ group_class }}">#}
    {#        <br>#}
    {#        <div class="input-group">#}
    {##}
    {#            <span class="input-group-addon">{{ input.label }}</span>#}
    {#            {{ input(class=input_class,value=default_value) }}#}
    {##}
    {#        </div>#}
    {#    </div>#}
    <div class="form-group {{ group_class }}">
        {{ input.label(class=label_class) }}
        {{ input(class=input_class,value=default_value) }}
    </div>
{% endmacro %}

{% macro date_input_helper(group_class,input,input_class="form-control",label_class='labels',default_value='') -%}
    <div class="form-group {{ group_class }}">
        {{ input.label(class=label_class) }}
        <input name="{{ input.id }}" id="{{ input.id }}" data-date-format="yyyy-mm-dd" data-auto-close="true" value="{{ default_value }}"
              type="text" data-language="en" class="{{ input_class }} datepicker-here" readonly/>
    </div>

{% endmacro %}


{% macro bool_input_helper(group_class,input,input_class="form-control",label_class='labels',is_checked=0,func=0) -%}
    <div class="form-group {{ group_class }}">
        {{ input.label(class=label_class) }}
        <input name="{{ input.id }}"  id="{{ input.id }}" type="checkbox" class={{ input_class }}
               data-label-text="?">
    </div>
    <script>
        initSwitch({{ input.id }},{{'true' if is_checked==1 else 'false' }},{{ func }});
    </script>

{% endmacro %}