

{% block head %}

    <link rel="stylesheet" href=" {{ url_for("static",filename="css/bootstrap.min.css") }}">

    {% block link_ref %}
        <link rel="stylesheet" href="{{ url_for("static",filename="css/font-awesome.min.css") }}">
        <link rel="stylesheet" href=" {{ url_for("static",filename="css/mystyle.css") }}">
        <script src="{{ url_for("static",filename="js/jquery-2.4.4.min.js") }}"></script>
        <script src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
    {% endblock %}


{% endblock head %}

{% block content %}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        <ul class='list-unstyled'>
                            <li>{{ message }}</li>
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block form %}
        {% endblock %}


    </div>


{% endblock content %}


{% block scripts %}
{% endblock %}

