{% block head %}
    <title>{% block title %}{{ config.get('APP_NAME','An Empty System') }}{% endblock %}</title>
    <link rel="stylesheet" href=" {{ url_for("static",filename="css/bootstrap.min.css") }}">
    {% block favicon %}
        <link rel="icon" href="{{ url_for("static",filename="icon/favicon.ico") }}">
    {% endblock %}
    {% block link_ref %}
        <link rel="stylesheet" href="{{ url_for("static",filename="css/sidebar-menu.css") }}"> <!-- Resource style -->
        <link rel="stylesheet" href="{{ url_for("static",filename="css/font-awesome.min.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-switch.min.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="css/iziModal.min.css") }}">
        <link rel="stylesheet" href=" {{ url_for("static",filename="css/zebra_dialog.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="css/datepicker.min.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-stars.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="css/bootsnav.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="css/bootsnav-style.css") }}">

        <link rel="stylesheet" href="{{ url_for("static",filename="css/slider-pro.min.css") }}"> {# https://github.com/bqworks/slider-pro#}
        <link rel="stylesheet" href="{{ url_for("static",filename="css/indiv_pics.css") }}">
        {# 轮播插件 http://www.htmleaf.com/jQuery/Slideshow-Scroller/201612134258.html #}
        {# 内部放大 http://www.htmleaf.com/jQuery/Image-Effects/201609204017.html #}

    {% endblock %}
    <link rel="stylesheet" href=" {{ url_for("static",filename="css/mystyle.css") }}">
    <script src="{{ url_for("static",filename="js/jquery-2.4.4.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>

    {% block jsref %}
        <script src="{{ url_for("static",filename="js/iziModal.min.js") }}"></script>
        <script src="{{ url_for("static",filename="js/bootstrap-switch.min.js") }}"></script>
        <script src="{{ url_for("static",filename="js/zebra_dialog.js") }}"></script>
        <script src="{{ url_for("static",filename="js/datepicker.min.js") }}"></script>
        <script src="{{ url_for("static",filename="js/i18n/datepicker.en.js") }}"></script>
        <script src="{{ url_for("static",filename="js/jquery.number.min.js") }}"></script>
        <script src="{{ url_for("static",filename="js/jquery.barrating.min.js") }}"></script>

        <script src="{{ url_for("static",filename="js/jquery.sliderPro.min.js") }}"></script>
        <script src="{{ url_for("static",filename="js/jQuery-easing.js") }}"></script>
        <script src="{{ url_for("static",filename="js/jQuery-jcImgScroll.js") }}"></script>
        <script src="{{ url_for("static",filename="js/jquery.zoom.min.js") }}"></script>



    {% endblock %}
    <script src="{{ url_for("static",filename="js/myjs.js") }}"></script>
{% endblock %}




{% block mainpage %}
{% endblock %}

<script>
{#    var navigation = $('#nav-main').okayNav();#}
</script>

{% block scripts %}
{% endblock scripts %}

{% block afterloadscripts %}
    <script src="{{ url_for("static",filename="js/my-after-load.js") }}"></script>
    <script src="{{ url_for("static",filename="js/bootsnav.js") }}"></script>
{% endblock afterloadscripts %}