<aside ><section  class="sidebar">	    <ul class="sidebar-menu">	      <li class="header">Navigation</li><li class="treeview">
    <a href="{{ url_for("homeRoute.hot_prods") }}">
         <i class="fa fa-dashboard"></i>
         <span class='strong-title'>Hot Productions</span>
         <i class="fa fa-angle-left pull-right"></i>
     </a>
        <li class="treeview">
    <a href="{{ url_for("homeRoute.clearance") }}">
         <i class="fa fa-dashboard"></i>
         <span class='strong-title'>Clearance</span>
         <i class="fa fa-angle-left pull-right"></i>
     </a>
        <li class="treeview">
    <a href="{{ url_for("homeRoute.on_sale") }}">
         <i class="fa fa-dashboard"></i>
         <span class='strong-title'>On Sale</span>
         <i class="fa fa-angle-left pull-right"></i>
     </a>
        
        <li class="treeview {% if 1== nav_active %}active{% endif %}"><a href="#"> <i class="fa fa-dashboard"></i> <span>Making-ups</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu"><li><a href="{{ url_for("homeRoute.sub_category_list",sub_cat_id=1) }}"><i class="fa fa-circle-o"></i>Channel</a></li></ul></li>
        <li class="treeview {% if 2== nav_active %}active{% endif %}"><a href="#"> <i class="fa fa-dashboard"></i> <span>Sports</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu"><li><a href="{{ url_for("homeRoute.sub_category_list",sub_cat_id=2) }}"><i class="fa fa-circle-o"></i>2nd-hand nike</a></li></ul></li></ul></section></aside>