{% extends "user_temp/order_base.html" %}
{% from "order_temp/_order_card.html" import order_card with context %}

{% block link_ref %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-stars.css") }}">
{% endblock %}

{% block jsref %}
    {{ super() }}
    <script src="{{ url_for("static",filename="js/jquery.barrating.min.js") }}"></script>
{% endblock %}

{% block orderlist %}

    <div class="list-group">

        {% if order_list.total >0 %}
            {#            {{ pagination.info }}#}
            {% for order in order_list.items %}
                {{ order_card(order) }}
            {% endfor %}
            {{ pagination.links }}
        {% else %}
            <h3>You do not have any orders</h3>
        {% endif %}
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Please Provide Feedback
                    </h4>
                </div>
                <div class="modal-body form-group">
                    <textarea id="feedback_content" class="form-control" rows=3></textarea>
                    <p>Rating This Order:</p>
                    <select id="rating" name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <script>
                         $('#rating').barrating({
                                theme: 'bootstrap-stars'
                            });
                    </script>
                </div>
                <div class="modal-footer" id="modal_footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script>
        function onShowOrder(client_order_id) {
            new $.Zebra_Dialog('', {
                source: {
                    'iframe': {
                        'src': '{{ url_for('orderRoute.show_one_order') }}' + '?client_order_id=' + client_order_id,
                        'height': 600
                    }
                },
                position: ['center', 'top + 5'],
                width: 1200
            });
        }
        function feedback(client_order_id) {
            var div = $("#modal_footer");
            $("#feedback_sub").remove();
            div.append(String.format('<button id="feedback_sub" type="button" class="btn btn-primary" onclick="ajax_submit_feedback(\'{0}\')">Submit</button>', client_order_id));
            $("#myModal").modal();

        }
        function ajax_submit_feedback(client_order_id) {
            $.post("{{ url_for('orderRoute.user_feedback') }}", {
                client_order_id: client_order_id,
                content: $("#feedback_content").val(),
                rating:$("#rating").val()
            }, function (result) {
                if (result = 'succ') {
                    location.reload();
                } else {
                    alert("Feedback submitted failed...");
                }
            });
        }
    </script>
{% endblock %}
