{% extends "user_temp/user_base.html" %}
{% set active_page = 3 %}
{% from "order_temp/_order_card.html" import material_card with context %}


{% block title %}Settings - {{ config.get('APP_NAME','An Empty System') }} {% endblock title %}
{% block link_ref %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/adv/style.css") }}">
{% endblock %}

{% block page %}

    <div class="list-group">

        {% if order_list.total >0 %}
            {{ pagination.info }}
            {% for order in order_list.items %}
                {{ material_card(order) }}
            {% endfor %}
            {{ pagination.links }}
        {% else %}
            <h3>You do not have any orders</h3>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {#    <script src="{{ url_for("static",filename="js/easySlider.js") }}"></script>#}
    {#    <script type="text/javascript">#}
    {#		$(function() {#}
    {#			  $("#slider").easySlider({});#}
    {#		  });#}
    {#	</script>#}
{% endblock scripts %}