{% extends "user_temp/user_base.html" %}
{% from "order_temp/_order_card.html" import material_card with context %}
{% block title %}Settings - {{ config.get('APP_NAME','An Empty System') }} {% endblock title %}
{% block link_ref %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/adv/style.css") }}">
{% endblock %}
{% set active_page = "index" %}

{% block page %}
    <div class="list-group">
        {% for order in order_list.items %}
            {{ material_card(order) }}
        {% endfor %}
    {{ pagination.links }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {#    <script src="{{ url_for("static",filename="js/easySlider.js") }}"></script>#}
    {#    <script type="text/javascript">#}
    {#		$(function() {#}
    {#			  $("#slider").easySlider({});#}
    {#		  });#}
    {#	</script>#}
{% endblock scripts %}