{% extends "user_temp/user_base.html" %}

{% set active_page = 'orders' %}

{% block page %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if order_active == 'ongoing' %} class="active"{% endif %}><a
                href="{{ url_for("userRoute.user_orders",type='ongoing') }}">Ongoing Orders</a></li>
        <li role="presentation" {% if order_active == 'finished' %} class="active"{% endif %}><a
                href="{{ url_for("userRoute.user_orders",type='finished') }}">Finished Orders</a></li>
        <li role="presentation" {% if order_active == 'canceled' %} class="active"{% endif %}><a
                href="{{ url_for("userRoute.user_orders",type='canceled') }}">Canceled Orders</a></li>
    </ul>
    {% block orderlist %}
    {% endblock %}

{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock scripts %}