{% extends "user_temp/user_base.html" %}
{% set active_page = 'quotes' %}

{% block page %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if quote_active == 'ongoing' %} class="active"{% endif %}><a
                href="{{ url_for("userRoute.user_quotes",type='ongoing') }}">Ongoing Quotes</a></li>
        <li role="presentation" {% if quote_active == 'finished' %} class="active"{% endif %}><a
                href="{{ url_for("userRoute.user_quotes",type='finished') }}">Finished Quotes</a></li>
    </ul>
    {% block quotelist %}
    {% endblock %}

{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock scripts %}