{% extends "non_nav_base.html" %}
{% from "_input_helper.html" import input_helper,bool_input_helper %}

{% block link_ref %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/js-tabs.css") }}"> <!-- Resource style -->
{% endblock %}
{% block jsref %}
    {{ super() }}
    <script src="{{ url_for("static",filename="js/jquery-tab.js") }}"></script>
{% endblock %}

{% block page %}
    <div class="tab-group">
        <section id="tab1" title="Login">

            <form action="{{ url_for("userRoute.login") }}" method="post" name="create">
                {{ loginForm.hidden_tag() }}
                <div class="row">
                    {{ input_helper('col-md-12',loginForm.email ) }}
                    {{ input_helper('col-md-12',loginForm.password ) }}
                    {{ input_helper('invisible',loginForm.next,default_value=next ) }}
                    <div class="col-md-5">
                        <br>
                        {{ bool_input_helper('col-md-6',loginForm.remember_me,is_checked=1) }}
{#                        <div class="input-group">#}
{#                            <span class=""></span>#}
{#                            {{ loginForm.remember_me(class='invisible') }}#}
{#                            <input id="remember_me_switch" type="checkbox" class="input-group"#}
{#                                   data-label-text="Remember">#}
{##}
{#                        </div>#}
                    </div>
                </div>
                <br>
                <input type="submit" class='btn btn-primary' value="Login"><!-- /.row -->
            </form>

        </section>
        <section id="tab2" title="User Register">

            <form action="{{ url_for("userRoute.register") }}" method="post" name="create">
                {{ registerForm.hidden_tag() }}
                <div class="row">
                    {{ input_helper('invisible',registerForm.next,default_value=next ) }}
                    {{ input_helper('col-md-12',registerForm.user_name ) }}
                    {{ input_helper('col-md-12',registerForm.email ) }}
                    {{ input_helper('col-md-12',registerForm.password ) }}
                    {{ input_helper('col-md-12',registerForm.confirm ) }}
                    <br>
                <dt>    Subscribe  :   {{ registerForm.is_subscribe }}</dt>
                <br>
                <br>
                    <div class="col-md-5">
                        <input type="submit" class='btn btn-primary input-group' value="Create">
                    </div>

                </div>

            </form>

        </section>


    </div>
    <script>
        $(function () {
            // Calling the plugin
            $('.tab-group').tabify();
        });

        var el = $("#remember_me_switch").bootstrapSwitch();
        el.bootstrapSwitch('state', false);
        el.on('switchChange.bootstrapSwitch', function (event, state) {
            if (state) {
                $('#remember_me').attr('checked', true);
            } else {
                $('#remember_me').removeAttr('checked');
            }
        });
    </script>
{% endblock page %}




