{% extends "headers.html" %}

{% block mainpage %}
    <div class="bs-docs-header" tabindex="-1">
        <div class="jumbotron no-padding-top no-padding-bottom">
            <div class="container">
                <h1>{{ config.get('APP_NAME','Reprot.py') }} User Console</h1>
                <p>User Console for Emall !</p>
            </div>
        </div>
    </div>

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        <ul class='list-unstyled'>
                            <li>{{ message }}</li>
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="btn btn-warning">
                    <a  href="{{ url_for('homeRoute.index') }}" target="_blank"><strong>Open Home Page</strong></a>
                </li>
                <li {% if active_page == 'change_password'  %} class="active"{% endif %}>
                    <a href="{{ url_for('userRoute.change_password') }}">Change Password</a>
                </li>
                <li {% if active_page == 'orders' %} class="active"{% endif %}>
                    <a href="{{ url_for('userRoute.user_orders',type='finished') }}">My Orders</a>
                <li {% if active_page == 'quotes' %} class="active"{% endif %}>
                    <a href="{{ url_for('userRoute.user_orders',type='finished') }}">My Quotes</a>
                </li>
            </ul>

        </div>
        <div class="col-md-9">
            <div class="row">

            </div>
            {% block page %}{% endblock %}
        </div>

    </div>
    {% block footer %}
        {% include("footer.html") %}
    {% endblock footer %}

{% endblock mainpage %}

{% block scripts %}
    <script src="{{ url_for("static",filename="js/sidebar-menu.js") }}"></script>
    <script>
        {% block script_code %}{% endblock %}
    </script>
{% endblock scripts %}


