
/*--------------SLIDER----------------*/

#slider {
	width: 100%;
	margin: 0 auto;
}


/*--------------CONTROLS--------------*/

/*position controls*/
.controls li {
	top: 50%;
	margin-top: -30px;
}

.controls li:nth-child(1) {
	left: 0;
}

.controls li:nth-child(2) {
	right: 0;
}


/*------------PAGINATION------------*/

/*style pagination*/
.pagination li {
	background-color: #ddd; /*ddd*/
}

.pagination li.active {
	background-color: #000;/*000*/
}


/*-------------HELPERS----------------*/

.responsive {
	width: 100%;
	height: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

img {
	display: block;
}